.card {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 263px;
  height: 327px;
  padding: 20px 20px 15px 20px;

  background-color: #e5e5e5;
  border-radius: 5px;

  &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: var(--bg-color);
      border-radius: 0 0 5px 5px;
    }
}

.card__thumbnail {
  width: 100%;
}

.card__statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  font-size: 10px;

  list-style: none;
}

.statistics__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    margin-right: 3px;
  }
}

.card__title {
  margin: 0;
  padding: 0;

  color: #4f4f4f;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.card__button {
  width: 120px;
  height: 32px;

  color: #ffffff;
  background-color: #2F80ED;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 0 5px 2px #2f81ed83;

  &:hover {
    background-color: #5EA2FF;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    background-color: #b1b1b1;
    color: #dcdcdc;

    transition: 0.3s ease;
  }
}