.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100vw;

  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;

  background-color: #e5e5e5;
}

.search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 572px;
}

.search-block__logo-image {
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    transform: scale(0.95);

    transition: 0.3s ease;
  }
}

.search-block__mat-input {
  margin-top: 16px;
  width: 476px;
  padding: 0;

  & input {
    border: none;
  }
}

::ng-deep .mdc-line-ripple {
  display: none;
}

::ng-deep .mat-mdc-form-field-flex {
  background-color: #efefef;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-left: 5px;
  padding-top: 5px;
}

.search-block__button {
  width: 80px;
  height: 24px;
  margin-left: 10px;

  color: #ffffff;
  background-color: #2F80ED;
  border: none;
  box-shadow: 3px 0 5px 2px #2f81ed83;
  border-radius: 0px 4px 4px 0px;

  transition: 0.3s ease;

  &:hover {
    background-color: #5EA2FF;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    background-color: #b1b1b1;
    color: #dcdcdc;

    transition: 0.3s ease;
  }
}

.search-block__settings-image {
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    transform: scale(0.95);

    transition: 0.3s ease;
  }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #efefef;
  border-bottom: none;
}

.login-information {
  position: absolute;
  right: 134px;
  display: flex;
  align-items: center;
}

.login-information__image {
  margin-left: 8px;

  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    transform: scale(0.95);

    transition: 0.3s ease;
  }
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;

  background-color: #e5e5e5;
}

.search-wrapper__search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 479px;
  margin-right: 81px;

  color: #2F80ED;
}

.search-filter__label {
  color: #929292;
  user-select: none;
}

.search-filter__sort-by-date,
.search-filter__sort-by-views,
.search-filter__sort-by-text-label {
  color: #2F80ED;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: #5EA2FF;
  }
}

.search-filter__sort-by-text-input {
  box-sizing: border-box;
  width: 149px;
  height: 13px;
  margin: 0;
  padding: 0 0 0 5px;

  font: inherit;

  border: none;
}

.search-filter_ascending {
  border-bottom: #2F80ED solid 1px;
}

.search-filter_descending {
  border-top: #2F80ED solid 1px;
}

.sort-asc {
  position: relative;

  &::after {
    content: "\2197";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 15px;
    height: 15px;
  }
}

.sort-desc {
  position: relative;

  &::after {
    content: "\2198";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 15px;
    height: 15px;
  }
}

.filter-active {
  position: relative;

  &::after {
    content: "\2713";
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 15px;
    height: 15px;
  }
}

.logout-image {
  width: 25px;
  margin-left: 10px;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.card__button {
  width: 120px;
  height: 32px;
  margin-left: 20px;

  color: #ffffff;
  background-color: #2F80ED;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 0 5px 2px #2f81ed83;

  &:hover {
    background-color: #5EA2FF;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    background-color: #b1b1b1;
    color: #dcdcdc;

    transition: 0.3s ease;
  }
}