.card {
  position: relative;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1165px;
  height: 461px;
  margin: 44px auto 0 auto;

  background-color: #e5e5e5;
  border-radius: 5px;
}

.card__thumbnail {
  width: 60%;
  max-height: 100%;
}

.card-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  padding: 35px 37px 29px 34px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 5px;
    background-color: var(--bg-color);
    border-radius: 0 0 5px 0;
  }
}

.card__statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  column-gap: 20px;

  font-family: "Roboto", sans-serif;
  font-size: 10px;

  list-style: none;
}

.statistics__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & img {
    margin-right: 3px;
  }
}

.title-wrapper {
  display: flex;
}

.card__title {
  margin: 0;
  padding: 0;
  width: 50%;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.card-date {
  width: 50%;

  color: #828282;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.description-title {
  margin: 2px 0;

  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.description {
  box-sizing: border-box;
  max-height: 280px;
  overflow-y: scroll;

  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;

  color: #828282;
}

.card__button {
  width: 120px;
  height: 32px;

  color: #ffffff;
  background-color: #2F80ED;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 0 5px 2px #2f81ed83;

  &:hover {
    background-color: #5EA2FF;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    background-color: #b1b1b1;
    color: #dcdcdc;

    transition: 0.3s ease;
  }
}

.back-button {
  position: absolute;
  left: -32px;
  top: 0;

  width: 32px;
  height: 32px;
  background-color: #2f80ed;
  border: none;
  border-radius: 5px 0 0 5px;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 8px;
    width: 16px;
    height: 18px;

    background-image: url("../../../../assets/img/back-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover {
    background-color: #5EA2FF;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    background-color: #b1b1b1;
    color: #dcdcdc;

    transition: 0.3s ease;
  }
}