.auth-wrapper {
  position: absolute;
  top: 125px;
  left: calc(50vw - 175px);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 28px 20px 24px 20px;
  width: 344px;
  height: 248px;

  background-color: #f2f2f2;
  border-radius: 5px;
}

.auth-header {
  margin: 0;
  align-self: flex-start;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.auth_input-header {
  padding-left: 5px;
  margin: 2px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;

  color: #828282;
}

.auth_input {
  box-sizing: border-box;
  width: 304px;
  height: 37px;
  padding-left: 8px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;

  border: none;
  background-color: #e0e0e0;
}

.auth_login-button {
  width: 124px;
  height: 30px;

  color: #ffffff;
  background-color: #2F80ED;
  border: none;
  border-radius: 6px;

  transition: 0.3s ease;

  &:hover {
    background-color: #5EA2FF;
    cursor: pointer;

    transition: 0.3s ease;
  }

  &:active {
    background-color: #b1b1b1;
    color: #dcdcdc;

    transition: 0.3s ease;
  }

  &:disabled {
    background-color: #b1b1b1;
    color: #dcdcdc;
    cursor: default;

    transition: 0.3s ease;
  }
}

.has-error {
  outline: 1px solid #ff0000;
}

.validated {
  outline: 1px solid #0dff00;
}