.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-start;
  margin: 10px auto 0 auto;
  column-gap: 5%;
}

.card {
  width: 25%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.card__thumbnail {
  width: 90%;
  margin: 5%;
}

.card__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 5%;
  text-align: center;
  color: #000;
}

.card__description {
  font-size: 1rem;
  margin: 0 5%;
  text-align: center;
  color: #000;
}

.card__date {
  font-size: 0.8rem;
  margin: 0 5%;
  text-align: center;
  color: #000;
}

.card__video {
  width: 90%;
  margin: 5%;
}