@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

.body {
  margin: 0;
  padding: 0;
}